<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Fonts -->
  <link rel="dns-prefetch" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">



  <link rel="icon" href="Favicon.png">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

  <title>skyniche</title>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light navbar-laravel">
    <div class="container">
      <a class="navbar-brand" href="#">skyniche</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


    </div>
  </nav>
  <main>
    <div class="row">
      <div class="col-md-3">
        <form action="">
          <div class="card">
            <div class="card-body">
              <h5> sunday</h5>
              <div>
                <input type="time" value="time" style="width: 100px;">&nbsp;&nbsp;&nbsp;
                <input type="time" value="time" style="width: 100px;"> <svg xmlns="http://www.w3.org/2000/svg"
                  width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                  <path
                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                </svg>

              </div>
              <div class="pt-5">
                <a href="#" class="btn btn-primary" style="border-radius: 60px;">Add Appointment</a>
              </div>



            </div>
          </div>
        </form>

      </div>
      <div class="col-md-3">
        <form action="">
          <div class="card">
            <div class="card-body">
              <h5> sunday</h5>
              <div>
                <input type="time" value="time" style="width: 100px;">&nbsp;&nbsp;&nbsp;
                <input type="time" value="time" style="width: 100px;"> <svg xmlns="http://www.w3.org/2000/svg"
                  width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                  <path
                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                </svg>

              </div>
              <div class="pt-5">
                <a href="#" class="btn btn-primary" style="border-radius: 60px;">Add Appointment</a>
              </div>



            </div>
          </div>
        </form>

      </div>
      <div class="col-md-3">
        <form action="">
          <div class="card">
            <div class="card-body">
              <h5> sunday</h5>
              <div>
                <input type="time" value="time" style="width: 100px;">&nbsp;&nbsp;&nbsp;
                <input type="time" value="time" style="width: 100px;"> <svg xmlns="http://www.w3.org/2000/svg"
                  width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                  <path
                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                </svg>

              </div>
              <div class="pt-5">
                <a href="#" class="btn btn-primary" style="border-radius: 60px;">Add Appointment</a>
              </div>



            </div>
          </div>
        </form>

      </div>
      <div class="col-md-3">
        <form action="/addAppointment" method="POST">
          <div class="card">
            <div class="card-body">
              <h5> sunday</h5>
              
              <div>
                <input type="text" name="sunday" data-day-type="sunday"  hidden>
                <input type="time" name="start" value="time" style="width: 100px;">&nbsp;&nbsp;&nbsp;
                <input type="time" name="end" value="time" style="width: 100px;"> <svg xmlns="http://www.w3.org/2000/svg"
                  width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                  <path
                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                </svg>

              </div>
              <div class="pt-5">
               
               <button type="submit" class="btn btn-primary" style="border-radius: 60px;">
                Add Appointment
               </button>
              </div>



            </div>
          </div>
        </form>

      </div>
      
     


    </div>

  </main>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
<script>
 
  

</script>

</html>
