<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
  
    <title>Skyniche</title>
</head>
<body>
    <div class="mt-3 ml-5 ">
        <div class="row d-flex">
            <input type="text" style="border-radius: 25px;color: rgb(148, 148, 148); border-color: rgb(148, 148, 148);height:35px"  placeholder="Order By : First Name ">
            <input type="text" class="ml-2" style="border-radius: 25px; color: rgb(148, 148, 148); border-color: rgb(148, 148, 148);height:35px" placeholder="Search">
    
               <div class="d-flex" style="margin-left:400px;">
                <p style="color: rgb(148, 148, 148)" class="pt-1" >0-10 of 20</p>
                <input type="text" class="ml-2" style="border-radius: 25px; color: rgb(148, 148, 148); width: 40px; border-color: rgb(148, 148, 148);height:35px" placeholder="10">
                <button class="btn ml-2" style="border-radius: 25px;color: white; background-color: violet;height:35px">Add  New Company</button>
                <button class="btn ml-2" style="border-radius: 25px;color: white; background-color: violet;height:35px">Add  Appointment</button>
                <button class="btn ml-2" style="border-radius: 25px;color: white; background-color: violet;height:35px">Delete</button>
               </div>
    
        </div>
    </div>
    <div class="mt-5">
        <table class="table">
            <thead>
              <tr >
                <th scope="col">Name</th>
                <th scope="col">Address</th>
                <th scope="col">Phone</th>
                <th scope="col">Email</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr  style="box-shadow: 0 3px 4px black;margin-top: 50px;">
                <th>1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td class="mt-3">fsfs</td>
                <td class="btn btn-success pb-3" style="border-radius: 25px;">active</td>
              </tr>
            </tbody>
            
          </table>
    </div>
</body>
</html>